
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <h3 class="center-align">Administrar Asistentes</h3>
        <form class="col s12" href="/AdministrarAsistente/Buscar" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Ingrese nombre del asistente" id="nombreA" name="nombre"  type="text" class="validate">
                    <label for="rut">Nombre del asistente</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ingrese apellido paterno del asistente" id="apellidoPA" name="apellidoP" type="email" class="validate">
                    <label for="nombre">Apellido paterno del asistente</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ingrese apellido materno del asistente" id="apellidoMA" name="apellidoM" type="text" class="validate">
                    <label for="apellido">Apellido materno del asistente</label>
                </div>



                <div class="input-field col s4">
                    <div class="center-align">
                        <button class="btn red waves-effect">Buscar <i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
                        <button class="btn modal-trigger green" data-target="modalNuevo">Nuevo <i class="zmdi zmdi-account-add zmdi-hc-fw"></i></button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

@model NoMasAccidentes.ViewModels.IndexViewModel
<div class="row">
    <div class="col s12">
        <table>
            <thead>
                <tr>
                    <th data-field="id">Nombre</th>
                    <th data-field="price">Apellido Paterno</th>
                    <th data-field="price">Apellido Materno</th>
                    <th data-field="price">Rut Cliente</th>
                    <th data-field="price">Nombre Cliente</th>
                    <th data-field="price">Editar</th>
                    <th data-field="price">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asistente in Model.asistente)
                {
                    var datos = @asistente.NOMBRE_ASISTENTE + "||" + @asistente.APELLIDOP_ASISTENTE + "||" + @asistente.APELLIDOM_ASISTENTE + "||" + @asistente.ID_ASISTENTE+ "||"+ asistente.CLIENTE_ID_CLIENTE +"||"+ asistente.CLIENTE.RUT_CLIENTE+ " ----> " + asistente.CLIENTE.NOMBRE_CLIENTE+" " +asistente.CLIENTE.APELLIDO_CLIENTE;
                <tr style='background-color: @(asistente.ACTIVO_ASISTENTE.ToString() == "N" ? "#CCCCCC" : "");'>
                    <td>@asistente.NOMBRE_ASISTENTE</td>
                    <td>@asistente.APELLIDOP_ASISTENTE</td>
                    <td>@asistente.APELLIDOM_ASISTENTE</td>
                    <td>@asistente.CLIENTE.RUT_CLIENTE</td>
                    <td>@asistente.CLIENTE.NOMBRE_CLIENTE @asistente.CLIENTE.APELLIDO_CLIENTE</td>
                    <td><button class="btn modal-trigger blue" data-target="modalEditar" onclick="EditarA('@datos')" @(asistente.ACTIVO_ASISTENTE.ToString() == "N" ? "disabled" : "")><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button></td>
                    <td><button class="btn modal-trigger red" data-target="modalEliminarA" id="eliminarA" onclick="eliminarA(@asistente.ID_ASISTENTE)" @(asistente.ACTIVO_ASISTENTE.ToString() == "N" ? "disabled" : "")><i class="zmdi zmdi-delete zmdi-hc-fw"></i></button></td>
                </tr>


                }

            </tbody>

        </table>
        <div class="center-align">
            @{ Html.RenderPartial("_paginador", Model);}
        </div>
        <div id="modalNuevo" class="modal">
            <div class="modal-content">
                <div id="div-alerta" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p id="mensaje"></p>
                    </div>
                </div>
                <h5>Agregar asistente</h5>
                <div class="input-field col s6">
                    <input placeholder="Ingrese nombre del asistente" id="txtNombre" name="nombre" type="text" class="validate" required>
                    <label for="nombre">Nombre del asistente</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ingrese apellido paterno del asistente" id="txtApellidoP" name="apellidoP" type="text" class="validate" required>
                    <label for="apellidoP">Apellido paterno del asistente</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ingrese apellido materno del cliente" id="txtApellidoM" name="apellidoM" type="text" class="validate" required>
                    <label for="apellidoM">Apellido materno del asistente</label>
                </div>


                <div class="input-field col s6">
                    <select id="selectIdCliente" name="tipoId">
                        <option value="" disabled selected>Seleccione el Cliente</option>
                        
                            @foreach (var cliente in Model.cliente)
                            {
                             <option value="@cliente.ID_CLIENTE">@cliente.RUT_CLIENTE ----> @cliente.NOMBRE_CLIENTE @cliente.APELLIDO_CLIENTE </option>
                            }
                    </select>
                    <label for="tipoId">Cliente</label>
                </div>

                <div class="row">
                    <div class="center-align">
                        <button class="btn modal-trigger green" id="btnGuardarA">Guardar</button>
                        <button class="btn modal-close red" id="btnCerrar">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>
        <div id="modalEliminarA" class="modal">
            <div class="modal-content">
                <div class="center-align">
                    <div id="contenidoEliminar">
                        <h5>¿Está seguro que desea eliminar al asistente?</h5>
                        <button class="btn green" id="confirmarEliminarA">Confirmar</button>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                    <div id="div-alerta-eliminar" style="display:none">
                        <div class="alert card green white-text">

                            <div class="card-content">
                                <p id="mensajeEliminar"></p>
                            </div>
                        </div>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalEditar" class="modal">
            <div class="modal-content">
                <div id="div-alerta-editar" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p id="mensajeEditar">  </p>
                    </div>
                </div>
                <h5>Agregar asistente</h5>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el nombre" id="editNombreA" type="text" name="nombreA" class="validate" />
                    <label for="nombreA">Nombre asistente</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese apellido paterno asistente" id="editarApellidoP" type="text" name="apellidoAP" class="validate" />
                    <label for="apellidoAP">Apellido parteno</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese apellido materno asistente" id="editarApellidoM" type="text" name="apellidoAM" class="validate" />
                    <label for="apellidoAM">Apellido Materno</label>
                </div>

                <div class="input-field col s6">
                    <select id="editSelectIdCliente" name="editSelectIdCliente">
                        <option value="" disabled selected>Seleccione id del cliente</option>
                        @foreach (var cliente in Model.cliente)
                        {
                            <option value="@cliente.ID_CLIENTE">@cliente.RUT_CLIENTE ----> @cliente.NOMBRE_CLIENTE @cliente.APELLIDO_CLIENTE </option>
                        }
                    </select>
                    <label for="tipoId">Cliente</label>
                </div>
                <div class="row">
                    <div class="center-align">
                        <button class="btn green"id="btnEditar">Actualizar</button>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script>

    $('select').formSelect();

    $("#btnGuardarA").click(function () {

        var url = "@Url.Action("CrearA", "AdministrarAsistente")";
        var txtNombre = $("#txtNombre").val();
        var txtApellidoP = $("#txtApellidoP").val();
        var txtApellidoM = $("#txtApellidoM").val();
        var selectIdCliente = $("#selectIdCliente").val();
        var data = { nombre_asistente: txtNombre, apellidop_asistente: txtApellidoP, apellidoM_asistente: txtApellidoM, cliente_id_cliente: selectIdCliente };

        $.post(url, data).done(function (data) {
            if (data.ok) {
                $("#div-alerta").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
             
            } else {
                $("#div-alerta").removeClass("alert card green white-text").addClass("alert card red white-text").slideDown(200);
            }
            $("#mensaje").html(data.mensaje);
            $("#div-alerta").show();
        });
    });

    var idAsistente = null;
    function eliminarA(id) {
        idAsistente = id;
    }
    $("#confirmarEliminarA").click(function () {
        var url = "@Url.Action("EliminarA", "AdministrarAsistente")";
        var data = { id: idAsistente }
        $.post(url, data).done(function (data) {
            $("#mensajeEliminar").html(data.mensaje);
            $("#div-alerta-eliminar").show();
            $("#contenidoEliminar").hide();
        });

    });
    function EditarA(datos) {
        $('#editSelectIdCliente').formSelect();
        d = datos.split('||');
        $('#editNombreA').val(d[0]);
        $('#editarApellidoP').val(d[1]);
        $('#editarApellidoM').val(d[2]);
        $('#editSelectIdCliente').append($('<option>', { value: d[4], text: d[5], selected:true }));
        $('#editSelectIdCliente').formSelect();
        $("#editSelectIdCliente option[value='"+d[4]+"']").remove();

    }

    $("#btnEditar").click(function () {
        var id = d[3];
        var url = "@Url.Action("EditarA", "AdministrarAsistente")";
        var txtNombre = $("#editNombreA").val();
        var txtApellidoP = $("#editarApellidoP").val();
        var txtApellidoM = $("#editarApellidoM").val();
        var selectIdCliente = $("#editSelectIdCliente").val();
        var data = {id_asistente : id, nombre_asistente: txtNombre, apellidop_asistente: txtApellidoP, apellidoM_asistente: txtApellidoM, cliente_id_cliente: selectIdCliente };
        $.post(url, data).done(function (data) {
            if (data.ok) {
                $("#div-alerta-editar").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
                $("#txtNombre").val('');
                $("#txtApellidoP").val('');
                $("#txtApellidoM").val('');
            } else {
                $("#div-alerta-editar").removeClass("alert card green white-text").addClass("alert card red white-text").slideDown(200);
            }
            $("#mensajeEditar").html(data.mensaje);
            $("#div-alerta-editar").show();

        });
    });


</script>


