
@{
    ViewBag.Title = "Administrar Tipo Solicitud";
}


<div class="container">
    <div class="row">
        <h3 class="center-align">Administrar Tipo Solicitud</h3>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Tipo de Solicitud" id="tiposolicitud" name="tiposolicitud" type="text" class="validate">
                    <label for="tiposolicitud">Tipo Solicitud</label>
                </div>

                <div class="input-field col s4">
                    <div class="center-align">
                        <button class="btn red waves-effect" id="btnBuscar">Buscar <i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
                        <button class="btn modal-trigger green" data-target="modalNuevo">Nuevo <i class="zmdi zmdi-account-add zmdi-hc-fw"></i></button>
                    </div>

                </div>
            </div>
    </div>
</div>



@model NoMasAccidentes.ViewModels.IndexViewModel
<div class="row">
    <div class="col s12">

        <div id="divTipoSolicitud">
        </div>
        <div id="msgCargando" class="center">
            <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="10%">
        </div>


        <!-- Modal Nuevo -->


        <div id="modalNuevo" class="modal">
            <div class="modal-content">
                <div id="div-alerta" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p id="mensaje"></p>
                    </div>
                </div>
                <h5>Agregar Tipo Solicitud</h5>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Nombre de la Solicitud" id="txtNombreSolicitud" name="desc" type="text" class="validate" required>
                    <label for="tipoSol">Nombre Tipo Solicitud</label>
                </div>
                @*<div class="input-field col s6">
                    <input placeholder="Ingrese el Tipo de Solicitud" id="txtTipoSolicitud" name="tipoSolicitud" type="text" class="validate" required>
                    <label for="tipoSol">Nombre Tipo Solicitud</label>
                </div>*@
                <div class="input-field col s6">
                    <input placeholder="Ingrese una Descripción del Tipo de Solicitud" id="txtDescripTipoSolicitud" name="desc" type="text" class="validate" required>
                    <label for="descTipoSol">Descripción Tipo Solicitud</label>
                </div>

                <div class="row">
                    <div class="center-align">
                        <button class="btn modal-trigger green" id="btnGuardar">Guardar</button>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Eliminar-->
<div id="modalEliminar" class="modal">
    <div class="modal-content">
        <div class="center-align">
            <div id="contenidoEliminar">
                <h5>¿Esta seguro que desea eliminar el tipo de solicitud?</h5>
                <button class="btn  green" id="confirmarEliminar"> Confirmar </button>
                <button class="btn modal-close red">Cerrar</button>
            </div>
            <div id="div-alerta-eliminar" style="display:none">
                <div class="alert card green white-text">
                    <div class="card-content">
                        <p id="mensajeEliminar"></p>
                    </div>
                </div>
                <button class="btn modal-close red" id="btnCerrarEliminar">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div id="div-alerta-editar" class="alert card green white-text" style="display:none">
            <div class="card-content">
                <p id="mensajeEditar"></p>
            </div>
        </div>
        <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="30" id="imgEditar" hidden />
        <h5>Editar Tipo Solicitud</h5>
        <div class="input-field col s6">
            <input placeholder="Ingrese la Descripción del Tipo de Solicitud" id="editTxtTipoSolicitud" name="descTipSol" value="" type="text" class="validate" required>
            <label for="tipsol">Tipo Personal</label>
        </div>
        @*<div class="input-field col s6">
            <input placeholder="Ingrese el Tipo de Solicitud" id="editTxtTipSol" name="tipSol" type="text" class="validate" required>
            <label for="tipoSol">Tipo Solicitud</label>
        </div>*@
        <div class="input-field col s6">
            <input placeholder="Ingrese la Descripción del Tipo de Solicitud" id="editTxtDescTipSol" name="descTipSol" value="" type="text" class="validate" required>
            <label for="descTipSol">Descripción Tipo de Solicitud</label>
        </div>

        <div class="row">
            <div class="center-align">
                <button class="btn green" id="btnEditar">Actualizar</button>
                <button class="btn modal-close red" id="btnCerrarEditar">Cerrar</button>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
     ///////////////// Inicio Mostrar Contenido con Ajax/////////////////////
        var urlGeneral = '@Url.Content("~/")'
        $(document).ready(function () {
            $("#msgCargando").show()
            cargarTabla();
        });

        function cargarTabla() {

            $.ajaxSetup({ cache: false })
            $('#divTipoSolicitud').load(urlGeneral + 'AdministrarTipoSolicitud/ListarTipoSolicitud/?' + "nombreSolicitud=" + $('#tiposolicitud').val(), function (response, status, xhr){
                $("#msgCargando").hide()
                $("#divTipoSolicitud").show()
            });
        }

        $('#btnBuscar').click(
            function () {
                $("#msgCargando").show()
                $("#divTipoSolicitud").hide()
                cargarTabla();
            }
        );

        ///////////////// Fin Mostrar Contenido con Ajax/////////////////////


    $('select').formSelect();


    $("#btnGuardar").click(function ()
    {
        var url = "@Url.Action("Crear", "AdministrarTipoSolicitud")";
        var txtNombreSolicitud = $("#txtNombreSolicitud").val();
        var txtDescripTipoSolicitud = $("#txtDescripTipoSolicitud").val();
        var data = { nombre_tipsolic: txtNombreSolicitud, desc_tiposolic: txtDescripTipoSolicitud };


        $.post(url, data).done(function (data) {
            if (data.ok) {
                $("#div-alerta").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
                $('#selectTipoSolicitud').formSelect();
                $("#txtDescripTipoSolicitud").val('');
            } else {
                $("#div-alerta").removeClass("alert card green white-text").addClass("alert card red white-text").slideDown(200);
            }
            $("#mensaje").html(data.mensaje);
            $("#div-alerta").show();

        });

    });


    //Eliminar Rubro
    $("#btnCerrarEliminar").click(function () {

        $("#div-alerta-eliminar").hide();
        $("#contenidoEliminar").show();
    });
        var idTipoSol = null;
        function eliminar(id) {
            idTipoSol = id;
        };

        $("#confirmarEliminar").click(function () {
            var url = "@Url.Action("Eliminar", "AdministrarTipoSolicitud")";
            var data = { id: idTipoSol };
            $.post(url, data).done(function (data) {
                $("#mensajeEliminar").html(data.mensaje);
                $("#div-alerta-eliminar").show();
                $("#contenidoEliminar").hide();
                cargarTabla();
            });



    });


    //Editar Tipo Solicitud
    $("#btnCerrarEditar").click(function () {

        $("#div-alerta-editar").hide()
    });
        function editar(datos) {

            //Llenar campos
            d = datos.split('||');

            $('#editTxtTipoSolicitud').val(d[0]);
            $('#editTxtDescTipSol').val(d[1]);
        };


    $("#btnEditar").click(function () {
        $('#imgEditar').show();
        $("#div-alerta-editar").hide();
        var id = d[3];
        //Definir URL
        var url = "@Url.Action("Editar", "AdministrarTipoSolicitud")";
        var editTxtTipoSolicitud = $("#editTxtTipoSolicitud").val();
        var editTxtDescTipSol = $("#editTxtDescTipSol").val();
        var data = { id_tipsolic: id, nombre_tipsolic: editTxtTipoSolicitud, desc_tiposolic: editTxtDescTipSol };

        $.post(url, data).done(function (data) {
            if (data.ok) {
                $("#div-alerta-editar").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
                $("#editTxtTipSol").val('');
                cargarTabla();
                $('#imgEditar').hide();

            } else {
                $("#div-alerta-editar").removeClass("alert card green white-text").addClass("alert card red white-text").slideDown(200);
                $('#imgEditar').hide();
            }
            $("#mensajeEditar").html(data.mensaje);
            $("#div-alerta-editar").show();
        });

    });

</script>

