@model PagedList.IPagedList<NoMasAccidentes.Models.SOLICITUD>
@using PagedList.Mvc
<table class="centered">
    <thead>
        <tr>
            <th data-field="cliente">Rut Cliente</th>
            <th data-field="cliente">Nombre Cliente</th>
            <th data-field="fecha">Fecha Solicitud</th>
            <th data-field="fecha">Tipo Solicitud</th>
            <th data-field="fecha">Detalle</th>
            <th data-field="fecha">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var solicitud in Model)
        {
            var datos = solicitud.ID_SOLICITUD;

        <tr style='background-color: @(solicitud.ACTIVO_SOLICITUD.ToString() == "N" ? "#CCCCCC" : "" );'>
            <td>@solicitud.CLIENTE.RUT_CLIENTE</td>
            <td>@solicitud.CLIENTE.NOMBRE_CLIENTE @solicitud.CLIENTE.APELLIDO_CLIENTE</td>
            <td>@solicitud.FECHA_SOLICITUD.ToString("dd/MM/yyyy")</td>
            <td>@solicitud.TIPO_SOLICITUD.NOMBRE_TIPOSOLICITUD</td>
            <td>
                <a class="tooltipped waves-effect waves-light btn-Notification" data-position="bottom" data-delay="50" data-tooltip="<p align='left'>@solicitud.DESCRIPCION_SOLICITUD</p> ">
                    <i class="zmdi zmdi-info"></i>
                </a>
            </td>
            <td>
                @if (Roles.IsUserInRole("Administrador"))
                {
                <select id="selectEstadoSolicitud" name="estadoSolicitud" onchange="editar('@datos',this)">
                    @if (solicitud.ESTADO.Equals("En Revisión"))
                    {
                        <option value="En Revisión" selected>En Revisión</option>
                    }
                    else
                    {
                        <option value="En Revisión">En Revisión</option>
                    }

                    @if (solicitud.ESTADO.Equals("Aprobada"))
                    {
                        <option value="Aprobada" selected>Aprobada</option>
                    }
                    else
                    {
                        <option value="Aprobada">Aprobada</option>
                    }

                    @if (solicitud.ESTADO.Equals("Rechazada"))
                    {
                        <option value="Rechazada" selected>Rechazada</option>
                    }
                    else
                    {
                        <option value="Rechazada">Rechazada</option>
                    }

                </select>
                }
                else
                {
                    @solicitud.ESTADO
                }
            </td>
           
        </tr>
        }

    </tbody>

</table>
<div class="center-align" id="paginator">
    @Html.PagedListPager(Model, page => Url.Action("ListarPersonal", new { page, search = ViewBag.Buscar }))

</div>
@if (Model.Count <= 0)
{
    <p>NO SE HAN ENCONTRADO RESULTADOS. </p>
}

<script>
    $('select').formSelect();
    $("#paginator").on("click", 'a', function (e) {
        e.preventDefault();
        $("#msgCargando").show();
        $('#divSolicitud').hide();
        $.ajax({
            url: this.href,
            type: 'GET',
            cache: false,
            success: function (result) {
                $("#msgCargando").hide();
                $('#divSolicitud').show();
                $('#divSolicitud').html(result);
            }
        });
    });
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>