
@{
    Layout = null;
}
@Styles.Render("~/factura/Content/css")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Factura</title>
</head>
<body>
    @model NoMasAccidentes.ViewModels.IndexViewModel
    <header class="clearfix">
        <div id="logo">
            <img src="@Url.Content("~/Imagenes/logo.png")">
        </div>
        <div id="company">
            <h2 class="name">No Más Accidentes</h2>
            <div>Álvarez 2336, Viña del Mar, Región de Valparaíso</div>
            <div>(+569) 5923310</div>
            <div><a href="mailto:Contacto@NoMasAccidentes.com">Contacto@NoMasAccidentes.com</a></div>
        </div>

    </header>
    <main>
        <div id="details" class="clearfix">
            <div id="client">
                <div class="to">FACTURA PARA:</div>
                <h2 class="name">@Model.facturaPDF.NOMBRE_CLIENTE</h2>
                <div class="address">@Model.facturaPDF.DIRECCION_CLIENTE</div>
                <div class="email"><a href="mailto:@Model.facturaPDF.CORREO_ELECTRONICO_CLIENTE">@Model.facturaPDF.CORREO_ELECTRONICO_CLIENTE</a></div>
            </div>
            <div id="invoice">
                <h1>FACTURA #@Model.facturaPDF.ID_FACTURA</h1>
                <div class="date">Fecha Facturacion: @Model.facturaPDF.FECHA.ToString("dd/MM/yyyy")</div>
                <div class="date">Fecha Vencimiento: @Model.facturaPDF.FECHA_VENCIMIENTO.ToString("dd/MM/yyyy")</div>
            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="desc">DESCRIPCION</th>
                    <th class="qty"></th>
                    <th class="qty"></th>
                    <th class="total">VALOR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="no">01</td>
                    <td class="desc"><h3>@Model.facturaPDF.NOMBRE_PLAN</h3>Plan @Model.facturaPDF.NOMBRE_PLAN</td>
                    <td class="qty"></td>
                    <td class="qty"></td>
                    <td class="total">@Model.facturaPDF.VALOR_PLAN.ToString("c")</td>
                </tr>

                @{int i = 2;}
                @foreach (var detalleFactura in Model.detalleFactura)
                {
                    <tr>
                        <td class="no">@i.ToString("00.##")</td>
                        <td class="desc"><h3>@detalleFactura.NOMBRE_ACTIVIDAD_EXTRA</h3>@detalleFactura.DETALLE_ACTIVIDAD</td>
                        <td class="qty"></td>
                        <td class="qty"></td>
                        <td class="total">@detalleFactura.VALOR_ACTIVIDAD_EXTRA.ToString("c")</td>
                    </tr>
                    i++;
                }


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">SUBTOTAL</td>
                    <td>@Model.facturaPDF.SUBTOTAL.ToString("c")</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">IVA 19%</td>
                    <td>@Model.facturaPDF.IVA.ToString("c")</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">TOTAL</td>
                    <td>@Model.facturaPDF.TOTAL.ToString("c")</td>
                </tr>
            </tfoot>
        </table>
        <div id="thanks">Gracias!</div>
        <div id="notices">
            <div>Información:</div>
            <div class="notice">Cuenta con 30 días desde la fecha de facturación para realizar el pago.</div>
        </div>
    </main>
</body>
</html>
