
@{
    Layout = null;
}
@Styles.Render("~/factura/Content/css")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Factura</title>
</head>
<body>
    @model NoMasAccidentes.Models.FACTURA
    <header class="clearfix">
        <div id="logo">
            <img src="@Url.Content("~/Imagenes/logo.png")">
        </div>
        <div id="company">
            <h2 class="name">No Más Accidentes</h2>
            <div>Álvarez 2336, Viña del Mar, Región de Valparaíso</div>
            <div>(+569) 5923310</div>
            <div><a href="mailto:Contacto@nomasaccidentes.com">Contacto@nomasaccidentes.com</a></div>
        </div>

    </header>
    <main>
        <div id="details" class="clearfix">
            <div id="client">
                <div class="to">FACTURA PARA:</div>
                <h2 class="name">@Model.CONTRATO.CLIENTE.NOMBRE_CLIENTE @Model.CONTRATO.CLIENTE.APELLIDO_CLIENTE</h2>
                <div class="address">@Model.CONTRATO.CLIENTE.DIREC_CLIENTE</div>
                <div class="email"><a href="mailto:@Model.CONTRATO.CLIENTE.CORREO_CLIENTE">@Model.CONTRATO.CLIENTE.CORREO_CLIENTE</a></div>
            </div>
            <div id="invoice">
                <h1>FACTURA #@Model.ID_FACTURA</h1>
                <div class="date">Fecha Facturacion: @Model.FECHA.ToString("dd/MM/yyyy")</div>
                <div class="date">Fecha Vencimiento: @Model.FECHA_VENCIMIENTO.ToString("dd/MM/yyyy")</div>
            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="desc">DESCRIPCION</th>
                    <th class="unit">Valor</th>
                    <th class="qty">CANTIDAD</th>
                    <th class="total">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="no">01</td>
                    <td class="desc"><h3>Plan Estandar</h3>Creating a recognizable design solution based on the company's existing visual identity</td>
                    <td class="unit">$89.900</td>
                    <td class="qty">1</td>
                    <td class="total">$89.900</td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">SUBTOTAL</td>
                    <td>$5,200.00</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">IVA 19%</td>
                    <td>$1,300.00</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">TOTAL</td>
                    <td>$6,500.00</td>
                </tr>
            </tfoot>
        </table>
        <div id="thanks">Gracias!</div>
        <div id="notices">
            <div>Información:</div>
            <div class="notice">Cuenta con 30 días desde la fecha de facturación para realizar el pago.</div>
        </div>
    </main>
</body>
</html>
