
@{
    ViewBag.Title = "Administrar Facturas";
}
<div class="container">
    <div class="row">
        <h3 class="center-align">Administrar Facturas</h3>
        <form class="col s12" href="/AdministrarPersonal/Buscar" method="post">
            <div class="row">
                <div class="input-field col s4">
                    <input placeholder="Ingrese el Rut del Cliente" id="rut" oninput="checkRut(this)" name="rut" type="text" class="validate" >
                    <label for="rut">Rut Cliente</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="Ingrese el Nombre del Cliente" id="nombre" name="nombre" type="text" class="validate">
                    <label for="nombre">Nombre Cliente</label>
                </div>
                <div class="input-field col s4">
                    <select id="selectTipoPersonal">
                        <option value="" disabled selected>Seleccione Estado</option>
                        <option value="2">Pagada</option>
                        <option value="3">Por Pagar</option>
                        <option value="4">Vencida</option>
                    </select>
                    <label for="correo">Estado</label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="Ingrese Fecha Vencimiento" id="correo" name="correo" type="date" class="validate">
                    <label for="correo">Fecha Vencimiento Desde</label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="Ingrese Fecha Vencimiento" id="correo" name="correo" type="date" class="validate">
                    <label for="correo">Fecha Vencimiento Hasta</label>
                </div>
                <div class="input-field col s3">
                    <select id="selectTipoPersonal">
                        <option value="" disabled selected>Seleccione Mes</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                    <label for="correo">Mes</label>
                </div>
                <div class="input-field col s3">
                    <select id="selectTipoPersonal">
                        <option value="" disabled selected>Seleccione Año</option>
                        @for (int i = System.DateTime.Now.Year; i >= System.DateTime.Now.Year - 10; i--)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <label for="correo">Año</label>
                </div>
                <div class="input-field col s12">
                    <div class="center-align">
                        <button class="btn red waves-effect">Buscar <i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>
@model NoMasAccidentes.ViewModels.IndexViewModel
<div class="row">
    <div class="col s12">

        <table class="centered">
            <thead>
                <tr>
                    <th data-field="id">Rut Cliente</th>
                    <th data-field="id">Nombre Cliente</th>
                    <th data-field="price">Mes</th>
                    <th data-field="price">Año</th>
                    <th data-field="price">Estado</th>
                    <th data-field="price">Fecha Vencimiento</th>
                    <th data-field="price">Valor Plan</th>
                    <th data-field="price">Total Actividades Extras</th>
                    <th data-field="price">Total Factura</th>
                    <th data-field="price">PDF</th>
                    <th data-field="price">Pagar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var factura in Model.factura)
                {
                <tr>
                    <td>
                        @factura.RUT_CLIENTE
                    </td>
                    <td>
                        @factura.NOMBRE_CLIENTE
                    </td>
                    <td>
                        @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(factura.FECHA.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es")))
                    </td>
                    <td>
                        @factura.FECHA.Year
                    </td>
                    <td>
                        Por Pagar
                    </td>
                    <td>
                        @factura.FECHA_VENCIMIENTO.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @factura.CONTRATO.PLAN.VALOR.ToString("C")
                    </td>
                    <td>
                        $0
                    </td>
                    <td>
                        @factura.TOTAL.ToString("c")
                    </td>
                    <td>
                        <a href="~/AdministrarFactura/FacturaPdf/@factura.ID_FACTURA" class="btn modal-trigger red" id="eliminar"><i class="zmdi zmdi-collection-pdf zmdi-hc-fw"></i></a>
                    </td>
                    <td>
                        <button class="btn modal-trigger blue" data-target="modalEditar"><i class="zmdi zmdi-money zmdi-hc-fw"></i></button>
                    </td>

                </tr>
                }
            </tbody>
            </table>
    </div>
</div>
<script>
    $('select').formSelect();
    function checkRut(rut) {
        var valor = rut.value.replace('.', '');
        valor = valor.replace('-', '');
        cuerpo = valor.slice(0, -1);
        dv = valor.slice(-1).toUpperCase();
        rut.value = cuerpo + '-' + dv
        if (cuerpo.length < 7) { rut.setCustomValidity("RUT Incompleto"); return false; }
        suma = 0;
        multiplo = 2;
        for (i = 1; i <= cuerpo.length; i++) {
            index = multiplo * valor.charAt(cuerpo.length - i);
            suma = suma + index;

            // Consolidar Múltiplo dentro del rango [2,7]
            if (multiplo < 7) { multiplo = multiplo + 1; } else { multiplo = 2; }

        }

        // Calcular Dígito Verificador en base al Módulo 11
        dvEsperado = 11 - (suma % 11);

        // Casos Especiales (0 y K)
        dv = (dv == 'K') ? 10 : dv;
        dv = (dv == 0) ? 11 : dv;

        // Validar que el Cuerpo coincide con su Dígito Verificador
        if (dvEsperado != dv) { rut.setCustomValidity("RUT Inválido"); return false; }

        // Si todo sale bien, eliminar errores (decretar que es válido)
        rut.setCustomValidity('');
    }
</script>
