
@{
    ViewBag.Title = "Administrar Personal";
}




<div class="container">
    <div class="row">
        <h3 class="center-align">Administrar Personal</h3>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Ingrese el Usuario" id="usuario" name="buscarUsuario" type="text" class="validate">
                <label for="rut">Usuario</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Ingrese el Nombre" id="nombre" name="buscarNombre" type="text" class="validate">
                <label for="nombre">Nombre</label>
            </div>
            <div class="input-field col s4">
                <input placeholder="Ingrese el Correo Electronico" id="correo" name="buscarCorreo" type="email" class="validate">
                <label for="correo">Correo Electronico</label>
            </div>
            <div class="input-field col s4">
                <input placeholder="Ingrese el apellido" id="appelidoP" type="text" name="buscarApellidoP" class="validate">
                <label for="apellido">Apellido Paterno</label>
            </div>
            <div class="input-field col s4">
                <div class="center-align">
                    <button class="btn red waves-effect" id="btnBuscar">Buscar <i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
                    <button class="btn modal-trigger green" data-target="modalNuevo">Nuevo <i class="zmdi zmdi-account-add zmdi-hc-fw"></i></button>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div id="divPersonal">
        </div>
        <div id="msgCargando" class="center">
            <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="10%">
        </div>
        <!-- Modal Nuevo -->
        <div id="modalNuevo" class="modal">
            <div class="modal-content">
                <div id="div-alerta" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p id="mensaje"></p>
                    </div>
                </div>
                <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="30" id="imgNuevo" hidden />
                <h5>Agregar Personal</h5>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Nombre" id="txtNombre" name="nombre" type="text" class="validate">
                    <label for="nombre">(*) Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Apellido Paterno" id="txtApellidoPaterno" name="apellidoPaterno" type="text" class="validate" required>
                    <label for="nombre">(*) Apellido Paterno</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Apellido Materno" id="txtApellidoMaterno" name="apellidoNaterno" type="text" class="validate" required>
                    <label for="nombre">(*) Apellido Materno</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Telefono" id="txtTelefono" name="telefono" type="number" class="validate" required>
                    <label for="telefono">(*) Telefono</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Ingrese la Direccion" id="txtDireccion" name="direccion" type="text" class="validate" required>
                    <label for="direccion">(*) Direccion</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Correo Electronico" id="txtCorreo" name="correo" type="email" class="validate" required>
                    <label for="correo">(*) Correo Electronico</label>
                </div>
                <div class="input-field col s6">
                    <select id="selectTipoPersonal">
                        <option value="" disabled selected>Seleccione Tipo de  Personal</option>
                        <option value="1">Administrador</option>
                        <option value="2">Profesional</option>
                    </select>
                    <label for="correo">(*) Tipo Personal</label>
                </div>
                <div class="row">
                    <div class="center-align">
                        <button class="btn modal-trigger green" id="btnGuardar">Guardar</button>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Eliminar-->
        <div id="modalEliminar" class="modal">
            <div class="modal-content">
                <div class="center-align">
                    <div id="contenidoEliminar">
                        <h5>¿Esta seguro que desea eliminar el personal?</h5>
                        <button class="btn  green" id="confirmarEliminar"> Confirmar </button>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                    <div id="div-alerta-eliminar" style="display:none">
                        <div class="alert card green white-text">
                            <div class="card-content">
                                <p id="mensajeEliminar"></p>
                            </div>
                        </div>
                        <button class="btn modal-close red" id="btnCerrarEliminar">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Editar -->
        <div id="modalEditar" class="modal">
            <div class="modal-content">
                <div id="div-alerta-editar" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p id="mensajeEditar"></p>
                    </div>
                </div>
                <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="30" id="imgEditar" hidden />
                <h5>Editar Personal</h5>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Nombre" id="editTxtNombre" name="nombre" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Apellido Paterno" id="editTxtApellidoPaterno" name="apellidoPaterno" type="text" class="validate" required>
                    <label for="nombre">Apellido Paterno</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Apellido Materno" id="editTxtApellidoMaterno" name="apellidoNaterno" type="text" class="validate" required>
                    <label for="nombre">Apellido Materno</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Telefono" id="editTxtTelefono" name="telefono" type="number" class="validate" required>
                    <label for="telefono">Telefono</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Ingrese la Direccion" id="editTxtDireccion" name="direccion" type="text" class="validate" required>
                    <label for="direccion">Direccion</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Correo Electronico" id="editTxtCorreo" name="correo" type="email" class="validate" required>
                    <label for="correo">Correo Electronico</label>
                </div>
                <div class="input-field col s6">
                    <select id="editSelectTipoPersonal">
                        <option value="" disabled>Seleccione Tipo de  Personal</option>
                        <option value="1">Administrador</option>
                        <option value="2">Profesional</option>
                    </select>
                    <label for="correo">Tipo Personal</label>
                </div>
                <div class="row">
                    <div class="center-align">
                        <button class="btn green" id="btnEditar">Actualizar</button>
                        <button class="btn modal-close red" id="btnCerrarEditar">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>
<script type="text/javascript">

 ///////////////// Inicio Mostrar Contenido con Ajax/////////////////////
        var urlGeneral = '@Url.Content("~/")'
        $(document).ready(function () {
            $("#msgCargando").show()
            cargarTabla();
        });

        function cargarTabla() {

            $.ajaxSetup({ cache: false })
            $('#divPersonal').load(urlGeneral + 'AdministrarPersonal/ListarPersonal/?' + "nombre=" + $('#nombre').val() + "&usuario=" + $('#usuario').val() + "&correo=" + $('#correo').val() + "&apellidoP=" + $('#appelidoP').val(), function (response, status, xhr){
                $("#msgCargando").hide()
                $("#divPersonal").show()
            });
        }

        $('#btnBuscar').click(
            function () {
                $("#msgCargando").show()
                $("#divPersonal").hide()
                cargarTabla();
            }
        );

        ///////////////// Fin Mostrar Contenido con Ajax/////////////////////
        $('select').formSelect();


        //Agregar Peronal
        $("#btnGuardar").click(function () {
            $("#div-alerta").hide();
            $('#imgNuevo').show();
            var url = "@Url.Action("Crear", "AdministrarPersonal")";
            var txtNombre = $("#txtNombre").val();
            var txtApellidoPaterno = $("#txtApellidoPaterno").val();
            var txtApellidoMaterno = $("#txtApellidoMaterno").val();
            var txtTelefono = $("#txtTelefono").val();
            var txtDireccion = $("#txtDireccion").val();
            var txtCorreo = $("#txtCorreo").val();
            var selectTipoPersonal = $("#selectTipoPersonal").val();
            var data = { nombre_perso: txtNombre, apellidop_perso: txtApellidoPaterno, apellidom_perso: txtApellidoMaterno, direccion_perso: txtDireccion, telefono_perso: txtTelefono, correo_pero: txtCorreo, tipo_personal: selectTipoPersonal };


            $.post(url, data).done(function (data) {
                if (data.ok) {
                    $("#div-alerta").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
                    $("#txtNombre").val('');
                    $("#txtApellidoPaterno").val('');
                    $("#txtApellidoMaterno").val('');
                    $("#txtTelefono").val('');
                    $("#txtDireccion").val('');
                    $("#txtCorreo").val('');
                    $('#selectTipoPersonal').val(0);
                    $('#selectTipoPersonal').formSelect();
                    $('#imgNuevo').hide();

                    cargarTabla();

                } else {
                    $("#div-alerta").removeClass("alert card green white-text").addClass("alert card red white-text").slideDown(200);
                    $('#imgNuevo').hide();
                }
                $("#mensaje").html(data.mensaje);
                $("#div-alerta").show();
            });

        });


        //Eliminar Personal
        $("#btnCerrarEliminar").click(function () {

            $("#div-alerta-eliminar").hide();
            $("#contenidoEliminar").show();
        });

        var idPersonal = null;
        function eliminar(id) {
            idPersonal = id;
        };

        $("#confirmarEliminar").click(function () {
            var url = "@Url.Action("Eliminar", "AdministrarPersonal")";
            var data = { id: idPersonal };
            $.post(url, data).done(function (data) {
                $("#mensajeEliminar").html(data.mensaje);
                $("#div-alerta-eliminar").show();
                $("#contenidoEliminar").hide();
                cargarTabla();
            });



        });


        //Editar Personal

        $("#btnCerrarEditar").click(function () {

            $("#div-alerta-editar").hide()
        });


        function editar(datos) {

            //Llenar campos
            d = datos.split('||');
            $('#editTxtNombre').val(d[0]);
            $('#editTxtApellidoPaterno').val(d[1]);
            $('#editTxtApellidoMaterno').val(d[2]);
            $('#editTxtTelefono').val(d[3]);
            $('#editTxtDireccion').val(d[4]);
            $('#editTxtCorreo').val(d[5]);
            $('#editSelectTipoPersonal').val(d[6]);
            $('#editSelectTipoPersonal').formSelect();
        };


        $("#btnEditar").click(function () {

            $('#imgEditar').show();
            $("#div-alerta-editar").hide();
            var id = d[7];
            //Definir URL
            var url = "@Url.Action("Editar", "AdministrarPersonal")";
            var txtNombre = $("#editTxtNombre").val();
            var txtApellidoPaterno = $("#editTxtApellidoPaterno").val();
            var txtApellidoMaterno = $("#editTxtApellidoMaterno").val();
            var txtTelefono = $("#editTxtTelefono").val();
            var txtDireccion = $("#editTxtDireccion").val();
            var txtCorreo = $("#editTxtCorreo").val();
            var selectTipoPersonal = $("#editSelectTipoPersonal").val();
            var data = { id_personal: id, nombre_perso: txtNombre, apellidop_perso: txtApellidoPaterno, apellidom_perso: txtApellidoMaterno, direccion_perso: txtDireccion, telefono_perso: txtTelefono, correo_pero: txtCorreo, tipo_personal: selectTipoPersonal };

            $.post(url, data).done(function (data) {
                if (data.ok) {
                    $("#div-alerta-editar").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
                    $("#txtNombre").val('');
                    $("#txtApellidoPaterno").val('');
                    $("#txtApellidoMaterno").val('');
                    $("#txtTelefono").val('');
                    $("#txtDireccion").val('');
                    $("#txtCorreo").val('');
                    cargarTabla();
                    $('#imgEditar').hide();

                } else {
                    $("#div-alerta-editar").removeClass("alert card green white-text").addClass("alert card red white-text").slideDown(200);
                    $('#imgEditar').hide();
                }
                $("#mensajeEditar").html(data.mensaje);
                $("#div-alerta-editar").show();
            });



        });





</script>

