@model PagedList.IPagedList<NoMasAccidentes.Models.PERSONAL>
@using PagedList.Mvc
<table>
    <thead>
        <tr>
            <th data-field="id">Usuario</th>
            <th data-field="id">Nombre</th>
            <th data-field="price">Apellido Paterno</th>
            <th data-field="price">Apellido Materno</th>
            <th data-field="price">Telefono</th>
            <th data-field="price">Correo Electronico</th>
            <th data-field="price">Tipo Personal</th>
            <th data-field="price">Editar</th>
            <th data-field="price">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personal in Model)
        {
            var datos = @personal.NOMBRE_PERSO + "||" + @personal.APELLIDOP_PERSO + "||" + @personal.APELLIDOM_PERSO + "||" + @personal.TELEFONO_PERSO + "||" + @personal.DIRECCION_PERSO + "||" + personal.CORREO_PERSO + "||" + personal.USUARIO1.TIPO_PERSONAL.ID_TIPOPERSONAL + "||" + personal.ID_PERSONAL;

            <tr style='background-color: @(personal.ACTIVO.ToString() == "N" ? "#CCCCCC" : "" );'>
                <td>@personal.USUARIO1.USUARIO1</td>
                <td>@personal.NOMBRE_PERSO</td>
                <td>@personal.APELLIDOP_PERSO</td>
                <td>@personal.APELLIDOM_PERSO</td>
                <td>@personal.TELEFONO_PERSO</td>
                <td>@personal.CORREO_PERSO</td>
                <td>@personal.USUARIO1.TIPO_PERSONAL.TIPO_PERSONAL1</td>
                <td>
                    <button class="btn modal-trigger blue" data-target="modalEditar" onclick="editar('@datos')" @(personal.ACTIVO.ToString() == "N" ? "disabled" : "")><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button>
                </td>
                <td><button class="btn modal-trigger red" data-target="modalEliminar" id="eliminar" onclick="eliminar(@personal.ID_PERSONAL)" @(personal.ACTIVO.ToString() == "N" ? "disabled" : "")><i class="zmdi zmdi-delete zmdi-hc-fw"></i></button></td>


            </tr>
        }

    </tbody>

</table>
<div class="center-align" id="paginator">
    @Html.PagedListPager(Model, page => Url.Action("ListarPersonal", new { page, search = ViewBag.Buscar }))

</div>
@if (Model.Count <= 0)
{
    <p>NO SE HAN ENCONTRADO RESULTADOS. </p>
}

<script>

    $("#paginator").on("click", 'a', function (e) {
        e.preventDefault();
        $("#msgCargando").show();
        $('#divPersonal').hide();
        $.ajax({
            url: this.href,
            type: 'GET',
            cache: false,
            success: function (result) {
                $("#msgCargando").hide();
                $('#divPersonal').show();
                $('#divPersonal').html(result);
            }
        });
    });
</script>