
@{
    ViewBag.Title = "Administrar Actividades";
}

<div class="container">
    <div class="row">
        <h3 class="center-align">Administrar Actividad</h3>
        <form class="col s12" href="/AdministrarActividad/Buscar" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Actividad" id="nombre" name="fecha" type="text" class="validate">
                    <label for="actividad">Actividad</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Fecha Actividad" id="fecha" name="fecha" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="I" id="descripcion" name="descripcion" type="text" class="validate">
                    <label for="correo">Correo Electronico</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="Ingrese el apellido" id="appelidoP" type="text" name="apellidoP" class="validate">
                    <label for="apellido">Apellido Paterno</label>
                </div>
                <div class="input-field col s4">
                    <div class="center-align">
                        <button class="btn red waves-effect">Buscar <i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
                        <button class="btn modal-trigger green" data-target="modalNuevo">Nuevo <i class="zmdi zmdi-account-add zmdi-hc-fw"></i></button>
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>
@model NoMasAccidentes.ViewModels.IndexViewModel
<div class="row">
    <div class="col s12">

        <table>
            <thead>
                <tr>
                    <th data-field="id">Actividad</th>
                    <th data-field="id">Fecha Actividad</th>
                    <th data-field="price">Descripción</th>
                    <th data-field="price">Editar</th>
                    <th data-field="price">Eliminar</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var actividad in Model.actividad)
                {
                    var datos = @actividad.ID_ACTIVIDAD + "||" + actividad.FECHA_ACTIVIDAD + "||" + actividad.DESCRIPCION_ACTIVIDAD + "||" + actividad.PERSONAL_ID_PERSONAL + "||" + actividad.TIPO_ACTIVIDAD_ID_TIPOACTIVI + "||" + actividad.CHECKLIST_ID_CHECKLIST;
                <tr>



                    <td>@actividad.ID_ACTIVIDAD</td>
                    <td>@actividad.FECHA_ACTIVIDAD</td>
                    <td>@actividad.DESCRIPCION_ACTIVIDAD</td>
                    <td><button class="btn modal-trigger blue" data-target="modalEditar" onclick="editar('@datos')"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button></td>
                    <td><button class="btn modal-trigger red" data-target="modalEliminar" id="eliminar" onclick="eliminar()"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></button></td>

                </tr>
                }


            </tbody>

        </table>
        
        <!-- Modal Nuevo -->


        <div id="modalNuevo" class="modal">
            <div class="modal-content">
                <div id="mensaje" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p><i class="zmdi zmdi-check zmdi-hc-fw"></i><span>Actividad Registrada Correctamente</span></p>
                    </div>
                </div>
                <h5>Agregar Actividad</h5>
                <div class="input-field col s6">
                    <input placeholder="Nombre Actividad" id="txtActividad" name="nombre" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Fecha" id="txtFecha" name="txtFecha" type="date" class="validate" required>
                    <label for="nombre">Fecha</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Tipo Actividad" id="txtTipo" name="actividad" type="text" class="validate" required>
                    <label for="nombre">Tipo Actvidad</label>
                </div>

                <!-- <div class="input-field col s6">
        <select id="selectTipoPersonal">
            <option value="" disabled selected>Seleccione Tipo de  Personal</option>
            <option value="1">Administrador</option>
            <option value="2">Profesional</option>
        </select>
        <label for="correo">Tipo Personal</label>
    </div>-->
                <div class="row">
                    <div class="center-align">
                        <button class="btn modal-trigger green" data-target="modalEditar" id="btnGuardar">Guardar</button>
                        <button class="btn modal-close red">Cerrar</button>


                    </div>
                </div>
             </div>
           </div>
         </div>
       </div>

<script>

    $("#btnGuardar").click(function ()
    {
        $("#mensaje").show();

                var url = "@Url.Action("Crear", "AdministrarActividad")";
                var txtActividad = $("#txtActividad").val();
                var txtFecha = $("#txtFecha").val();
                var txtTipo = $("#txtTipo").val();
                  
                
                
                 var data = { fecha: txtFecha, descripcion: txtActividad, tipo: txtTipo};

                $("#txtActividad").attr('required', 'required');

                $.post(url, data).done();

            });
</script>






