
@{
    ViewBag.Title = "Administrar Rubro";
}


<div class="container">
    <div class="row">
        <h3 class="center-align">Administrar Rubro</h3>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Ingrese el Rubro" id="buscarRubro" name="rubro" type="text" class="validate">
                <label for="nombre">Rubro</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Ingrese la Descripción" id="buscarDescripcion" name="descripcion" type="text" class="validate">
                <label for="descripcion">Descripcion</label>
            </div>

            <div class="input-field col s4">
                <div class="center-align">
                    <button class="btn red waves-effect" id="btnBuscar">Buscar <i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
                    <button class="btn modal-trigger green" data-target="modalNuevo">Nuevo <i class="zmdi zmdi-account-add zmdi-hc-fw"></i></button>
                </div>

            </div>
        </div>
    </div>
</div>
@model NoMasAccidentes.ViewModels.IndexViewModel
<div class="row">
    <div class="col s12">
        <div id="divRubro">
        </div>
        <div id="msgCargando" class="center">
            <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="10%">
        </div>
        <!-- Modal Nuevo -->
        <!-- Modal Nuevo -->


        <div id="modalNuevo" class="modal">
            <div class="modal-content">
                <div id="div-alerta" class="alert card green white-text" style="display:none">
                    <div class="card-content">
                        <p id="mensaje"></p>
                    </div>
                </div>
                <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="30" id="imgNuevo" hidden />
                <h5>Agregar Rubro</h5>
                <div class="input-field col s6">
                    <input placeholder="Ingrese el Nombre de Rubro" id="txtNombre" name="nombre" type="text" class="validate">
                    <label for="nombre">Nombre Rubro</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Ingrese una Descripción al Rubro" id="txtDescripRubro" name="desc" type="text" class="validate" required>
                    <label for="nombre">Descripción Rubro</label>
                </div>

                <div class="row">
                    <div class="center-align">
                        <button class="btn modal-trigger green" id="btnGuardar">Guardar</button>
                        <button class="btn modal-close red">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Eliminar-->
<div id="modalEliminar" class="modal">
<div class="modal-content">
    <div class="center-align">
        <div id="contenidoEliminar">
            <h5>¿Esta seguro que desea eliminar el Rubro?</h5>
            <button class="btn  green" id="confirmarEliminar"> Confirmar </button>
            <button class="btn modal-close red">Cerrar</button>
        </div>
        <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="30" id="imgEliminar" hidden />
        <div id="div-alerta-eliminar" style="display:none">
            <div class="alert card green white-text">
                <div class="card-content">
                    <p id="mensajeEliminar"></p>
                </div>
            </div>
            <button class="btn modal-close red" id="btnCerrarEliminar">Cerrar</button>
        </div>
    </div>
</div>
        </div>

<!-- Modal Editar -->
<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div id="div-alerta-editar" class="alert card green white-text" style="display:none">
            <div class="card-content">
                <p id="mensajeEditar"></p>
            </div>
        </div>
        <img src="@Url.Content("~/Imagenes/loading.gif")" alt="material-logo" class="responsive-img center-box" width="30" id="imgEditar" hidden />
        <h5>Editar Rubro</h5>
        <div class="input-field col s6">
            <input placeholder="Ingrese el Nombre del Rubro" id="editTxtNomRub" name="nomRub" type="text" class="validate">
            <label for="nombre">Nombre Rubro</label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Ingrese la Descripción del Rubro" id="editTxtDescRub" name="descRub" type="text" class="validate" required>
            <label for="nombre">Descripción Rubro</label>
        </div>

        <div class="row">
            <div class="center-align">
                <button class="btn green" id="btnEditar">Actualizar</button>
                <button class="btn modal-close red" id="btnCerrarEditar">Cerrar</button>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">

 ///////////////// Inicio Mostrar Contenido con Ajax/////////////////////
        var urlGeneral = '@Url.Content("~/")'
        $(document).ready(function () {
            $("#msgCargando").show()
            cargarTabla();
        });

        function cargarTabla() {

            $.ajaxSetup({ cache: false })
            $('#divRubro').load(urlGeneral + 'AdministrarRubro/ListarRubro/?' + "nomRub=" + $('#buscarRubro').val() + "&descRub=" + $('#buscarDescripcion').val(), function (response, status, xhr){
                $("#msgCargando").hide()
                $("#divRubro").show()
            });
        }

        $('#btnBuscar').click(
            function () {
                $("#msgCargando").show()
                $("#divRubro").hide()
                cargarTabla();
            }
        );

 ///////////////// Fin Mostrar Contenido con Ajax/////////////////////
    //Agregar Rubro
    $("#btnGuardar").click(function ()
    {
        $("#div-alerta").hide();
        $('#imgNuevo').show();
        $("#mensaje").show();

                var url = "@Url.Action("Crear", "AdministrarRubro")";
                var txtNombre = $("#txtNombre").val();
                var txtDescripRubro = $("#txtDescripRubro").val();
                var data = {nombre_rubro: txtNombre, desc_rubro: txtDescripRubro };


        //         $("#txtNombre").attr('required', 'required');

        //$.post(url, data).done();

        $.post(url, data).done(function (data) {
            if (data.ok) {
                $("#div-alerta").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
                $("#txtNombre").val('');
                $("#txtDescripRubro").val('');
                $('#imgNuevo').hide();

                cargarTabla();
            } else {
                $("#div-alerta").removeClass("alert card green white-text").addClass("alert card red white-text").slideDown(200);
                $('#imgNuevo').hide();
            }
            $("#mensaje").html(data.mensaje);
            $("#div-alerta").show();
        });

    });


    //Eliminar Rubro
    $("#btnCerrarEliminar").click(function () {

        $("#div-alerta-eliminar").hide();
        $("#contenidoEliminar").show();
    });
        var idRubro = null;
        function eliminar(id) {
            idRubro = id;
        };

    $("#confirmarEliminar").click(function () {
        $("#imgEliminar").show();
        $("#contenidoEliminar").hide();
            var url = "@Url.Action("Eliminar", "AdministrarRubro")";
            var data = { id: idRubro };
            $.post(url, data).done(function (data) {
                $("#mensajeEliminar").html(data.mensaje);
                $("#div-alerta-eliminar").show();
                $("#contenidoEliminar").hide();
                cargarTabla();
                $("#imgEliminar").hide()
            });



    });


    //Editar Rubro
        function editar(datos) {

            //Llenar campos
            d = datos.split('||');
            $('#editTxtNomRub').val(d[0]);
            $('#editTxtDescRub').val(d[1]);
    };

    $("#btnCerrarEditar").click(function () {

        $("#div-alerta-editar").hide()
    });

    $("#btnEditar").click(function () {
        $('#imgEditar').show();
        $("#div-alerta-editar").hide();

        var id = d[2];
        //Definir URL
        var url = "@Url.Action("Editar", "AdministrarRubro")";
        var txtNomRub = $("#editTxtNomRub").val();
        var txtDescRub = $("#editTxtDescRub").val();
        var data = { id_rubro: id, nombre_rubro: txtNomRub, desc_rubro: txtDescRub };

        $.post(url, data).done(function (data) {
            if (data.ok) {
                $("#div-alerta-editar").removeClass("alert card red white-text").addClass("alert card green white-text").slideDown(200);
                $("#txtNombre").val('');
                $("#txtDescRub").val('');
                cargarTabla();
                $('#imgEditar').hide();

            } else {
                $("#div-alerta-editar").removeClass("alert card green white-text").addClass("alert card red white-text").slideDown(200);
                $('#imgEditar').hide();
            }
            $("#mensajeEditar").html(data.mensaje);
            $("#div-alerta-editar").show();
        });

    });

</script>
